@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    margin: 0;
}
/*-------- body ---------*/
body {
background-color: #f4f4f4;
color: #585858;
font-family: Oswald, san-serif;
font-size: 16px;
}

.navbar {
    padding: 0.4rem;
}
a .navbar-logo img {
    border-radius: 5px;
}

.nav-link {
    font-family: Oswald;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    }


/*------------Carousel--------*/
.carousel-inner img {
    height: 100%;
}
/*---------------
.carousel-caption {
    position: absolute;
    top: inherit;
   
}
.carousel-caption h2 {
    font-size: 350%;
    text-transform: uppercase;
    color: #ff6600;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 350;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
} 

.btn-primary {
    background-color: #f58133;
    border: 1px solid #ff6600;
}

.btn-primary:hover {
    background-color: #FF4500;
    border: 1px solid #FF4500;
}
--------------------------*/
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex!important;
    align-items: center!important;
  }

 .main-img-1 {
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.80)),
    url('../images/bjj.jpg');
    background-size: cover;
}
  .main-img-2 {
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.80)),
    url('../images/jujitsu.jpg');
    background-size: cover;
}
  .main-img-3 {
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.80)),
    url('../images/sc.jpg');
    background-size: cover;
  }   
.section-full{
    width: 100%;
    overflow: auto;
}

.custom-jumbotron {
    background: none;
    color: #fff;
}
.btn-success {
    background: orangered;
    border: orangered;
}
.btn-success:hover {
    background: rgb(143, 40, 3);
    border: rgb(143, 40, 3);
}
/*----------------jumbotron---------------*/
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
.padding {
    padding-bottom: 2rem;
}
mark {
    background: transparent;
    color:rgb(245, 77, 48);
}
.btn-outline-secondary:hover {
    background: orangered;
    border: orangered;
    color: #fff;
}
/*------------------our team--------------*/
.intro {
    width: 75%;
    margin: auto;
    padding-top: 2rem;
}
.intro hr {
    border-top: 2px solid #ff6600;
    width: 95%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;        
}
/*-------------Contact-------------------------*/
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
   }


#contact-section {
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.80)),url('../images/bgcf.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 2%;
}


#contact-section .container h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-position: under;
    color:  #ff6600;
    letter-spacing: 2px;
}

#contact-section .container p {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    color: #ff6600;
    letter-spacing: 3px;
}

 .contact-form i.fa {
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    cursor: pointer;
    border: 2px solid rgb(243, 239, 239);
    color:rgb(243, 239, 239);
}
 .contact-form i.fa:hover {
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}
.contact-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    text-align: center;
}

.form-info {
    font-size: 16px;
    font-style: Lato;
    color: #fff;
    letter-spacing: 2px;
}
input {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none; 
    outline: none;
    }

input::placeholder {
    color: #fff;
}

textarea {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none; 
    outline: none;
    }
textarea::placeholder {
    color: #fff;
}
.submit {
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    margin-left: 3%;
    border: 2px solid rgb(243, 239, 239);
    color: rgb(243, 239, 239);
}
.submit :hover {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer; 
}
/*---------------timetable-------------------*/
#timetable {
    box-sizing: border-box;
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.80)),url('../images/bgcf.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
#timetable .container {

    max-width: 100%;
    margin: 30px auto;
}
.tab-triger {}
.tab-triger ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
}
.tab-triger ul li {

}
.tab-triger ul li label {
    position: relative;
    display: block;
    margin: 20px 0 0;
    padding: 8px 16px;
    cursor: pointer;
    min-width: 100px;
    background: rgba(136,133,133,0.5);
    text-align: center;
    font-weight: 700;
    color: #f87924;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
}
.tab-triger ul li:nth-child(1) label{
    background: #f0eeee;
}
.tab-triger ul li:nth-child(2) label{
    background: #dddcdc;
}
.tab-triger ul li:nth-child(3) label{
    background: #c2c0c0;
}
.tab-triger ul li:nth-child(4) label{
    background: #b6b4b4;
}
.tab-container-wrap {}
.tab-container-wrap input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    z-index: -100;
    top: -10000px;
}
.tab-container-wrap input:checked + .tab-content-box {
    display: block;
}
.tab-content-box {
    background: #f0eeee;
    margin: 0 0 20px;
    padding: 20px;
    display: none;
}
.tab-content-box:nth-of-type(1) {
    background: #f0eeee;
   
}
.tab-content-box:nth-of-type(2) {
    background: #dddcdc;
}
.tab-content-box:nth-of-type(3) {
    background: #c2c0c0;
}.tab-content-box:nth-of-type(4) {
    background:  #b6b4b4;
}
.tab-content-box h2 {
    margin: 0 0 20px;
}
.tab-content-box h2 hr {
    color: #ff6600;
    width: 95%;
}
/*----------------gallery--------------------*/
.gallery-sectiom {
    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.80)),url('../images/bgcf.jpg');
    margin: auto;
    padding: 0 20px;
}
.gallery-section h2 {
    text-align: center;
    text-transform: uppercase;
    color: #f58133;
    padding-top: 40px;
}
.border {
    width: 180px;
    height: 4px;
    background: #f58133;
    border: 1px solid #f58133!important;
    margin: 40px auto;
}
.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.gallery-section .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}
.gallery-section .image img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.gallery-section .image:hover img {
    transform: scale(1.4) rotate(15deg);
}

/*----------------social---------------------*/
footer {
    background-color: #424242;
    color: #ff6600;
    padding: 28px;
}
hr.light{
    border-top: 1px solid #ff6600;
    width: 95%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}
.social a {
    font-size: 2rem;
    padding: 1rem;
}




/*-------------media queires-------------------*/

@media (max-width:  992px){
    
} 

@media (max-width:  768px){
    .carousel-caption {
    top: 22%;
   
}
.carousel-caption h2 {
    font-size: 220%;
    text-transform: uppercase;
    color: #ff6600;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 160%; 
    font-weight: 300;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
} 
    .carousel-caption ,btn {
        font-size: 85%;
        padding: 8px 14px;
    }    
}
      
@media (max-width:  576px){
.carousel-caption {
    top: 20%;
}
.carousel-caption h2 {
    font-size: 200%;
    font-weight: 400;
    text-transform: uppercase;
    color: #ff6600;
   
}

.carousel-caption h3 {
    font-size: 160%; 
    font-weight: 300;
    padding-bottom: 1rem;
} 
.carousel-caption ,btn {
        font-size: 65%;
        padding: 5px 10px;
    } 
.carousel-indicators {
        display: none;
    }
/*-------------gallery mq------------*/
@media screen and (max-width: 960px){
    .gallery-section .image {
        flex: 33.33%;
    }
}   
@media screen and (max-width: 768px){
    .gallery-section .image {
        flex: 50%;
    }
}  
@media screen and (max-width: 480px){
    .gallery-section .image {
        flex: 100%;
    }
}   
/*------------Contuct us------*/
@media (max-width: 760px){
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }
    #contact-section .submit {
        width: 70%;
    }
}


/*------------Footer---------*/


@media (max-width: 600px){
    footer .inner-footer{
        width: 90%;
    }
    .inner-footer .logo_container
    .inner-footer .footer_third{
        width: 100%;
        margin-bottom: 20px;
    }
}
}

